@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana&display=swap');


.contact-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
    border: 2px solid green;
}

.contact-img-container {
    display: flex;
    width: 100%;
    height: 320px;
    position: relative;
    justify-content: center;
}

.contact-img-container .contact-image {
    width: 100%;
    height: 320px;
    align-self: center;
}


.contact-img-container h3 {
    text-align: center;
    position: absolute;
    margin-bottom: -50px;
    text-align: center;
    align-self: center;
    letter-spacing: 2px;
    font-size: 40px;
    color: #fff;
    font-family: 'Merriweather Sans', sans-serif;
}


/* Second part of container */

.contact-information-container {
    display: flex;
    flex-direction: row;
    background: #72A0C1;
}

.information-section-one {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    width: 50%;
    border: 1px solid black;
    height: 400px;
    padding: 20px;

}

.information-section-two {
    width: 50%;
    border: 1px solid black;
    height: 400px;
    padding: 20px;
    background-position: center;
    line-height: 8px;
}

.information-section-one h6 {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    letter-spacing: 2px;
    font-family: 'Titan One', cursive;
}

.information-section-one span {
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
    background: #FF8235;
    padding: 8px 6px;
    margin-left: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: 'Lusitana', serif; 
    border-radius: 6px;

}

.information-section-one span:hover {
    background: #D66D75;
}


.input-form {
    margin-top: 20px;
    font-size: 19px;
    letter-spacing: 0.6px;
    font-family: 'Amiri', serif;
    font-weight: 400;
    width: 100%;
    height: 27px;
    padding: 8px 6px;
    border-radius: 6px;
    border-style: 0.5px;
    border: 0.5px solid rgb(161, 157, 157);
    background: #f0f3f5;
}

.third-input{
    height: 70px;
}

.contacts-containers {
    line-height: 50px;
}

.contacts-details {
    margin-left: 8px;
    font-size: 22px;
    letter-spacing: 0.7px;
    color:#F0F2F0;
}


@media all and (max-width: 479px) {
    .contact-information-container {
        display: flex;
        flex-direction: column;
        background: #72A0C1;
        align-items: center;
    }

    .information-section-one {
        display: flex;
        flex-direction: column;
        line-height: 40px;
        width: 80%;
        border: none;
        height: 400px;
        padding: 20px;
    
    }


    .information-section-one span {
        margin-top: 12px;
        font-size: 15px;
        text-align: center;
        background: #FF8235;
        padding: 4px 3px;
        margin-left: 1px;
        cursor: pointer;
        letter-spacing: 1px;
        font-family: 'Lusitana', serif; 
        border-radius: 6px;
    
    }

    .information-section-two {
        width: 99%;
        border: 1px solid black;
        height: 450px;
        padding: 20px;
        background-position: center;
        line-height: 8px;
    }

    .information-section-two h2 {
        text-align: center;
    }
}

@media all and (max-width: 768px) {
    .contact-information-container {
        display: flex;
        flex-direction: column;
        background: #72A0C1;
        align-items: center;
    }

    .information-section-one {
        display: flex;
        flex-direction: column;
        line-height: 40px;
        width: 80%;
        border: none;
        height: 450px;
        padding: 20px;
    
    }

    .information-section-two {
        width: 99%;
        border: 1px solid black;
        height: 450px;
        padding: 20px;
        background-position: center;
        line-height: 8px;
    }
}